*{
    padding: 0px;
    margin: 0px;
}
.headbox{
    border: solid 1px;
    height: 160px;
    display: flex;
}
#box1,#box2{
    border: solid 1px;
    height: 160px;
}
#box1{
    width: 160px;
}
#box2{
    width: 1100px;
}
#clgname{
    font-size: 60px;
    color: #fd0808;
}
#ugc{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #000080;
}
#text1{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
#scrolltext{
    font-size: 20px;
    font-weight: bold;
    color: #008000;
}
#navbar{
    border: solid 1px;
    height: 47px;
}
ul li{
    border: solid 1px;
    height: 47px;
    width: 150px;
    float: left;
    text-align: center;
    line-height: 47px;
    background-color: #000080;
    margin-right: 1px;
}
ul{
    list-style: none;
}
ul li a{
    color: #ffffff;
    font-size: 21px;
    text-decoration: none;
}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
}
ul li:hover{
    background-color: #ff4500;
}
.obox{
    border: solid 1px;
    height: 360px;
    display: flex;
    justify-content: space-between;
}
#in1,#in2,#in3{
    border: solid 1px;
    height: 360px;
    z-index: -1;
}
#in1{
    width: 600px;
    background-image: url(img1.jpg);
    background-repeat: no-repeat;
    background-size: 600px 360px;
    animation-name: imgchange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes imgchange{
    20%{
        background-image: url(img2.jpg);
    }
    40%{
        background-image: url(img3.jpg);
    }
    60%{
        background-image: url(img4.jpg);
    }
    80%{
        background-image: url(img5.jpg);
    }
}
#in2,#in3{
    width: 290px;
}
#name1{
    text-align: center;
    color: #a52a2a;
}
#pbox{
    border: solid 1px;
    height: 200px;
}
#placement{
    height: 80px;
    width: 180px;
}